a {
	&:link,
	&:visited,
	&:hover,
	&:active {
		text-decoration: none;
		transition: all 0.3s;
	}

	&:link,
	&:visited {
		color: $color-default;
	}

	&:hover,
	&:active {
		color: $color-blue;
	}
}

.link-green {
	&:link,
	&:visited {
		color: $color-green-for-text;
	}

	&:hover,
	&:active {
		color: darken($color-green-for-text, 10%);
	}
}