.portfolio-list-page {
	padding-top: $page-gutter + 20;
	padding-bottom: $page-gutter + 20;
	position: relative;

	&::before,
	&::after {
		position: absolute;
		left: 0;
		z-index: 2;
		content: "";
		display: block;
		width: 100%;
		height: 90px;
	}
}

.portfolio-list {
	width: 100%;
	height: 100%;
	z-index: 2;

	// ShowUp
	@extend %transition-fadeup-setup;
	transition-delay: 0.5s;

	.is-page-ready & {
		@extend %transition-fadeup-active;
	}

	// .portfolio-list-item
	&-item {
		width: 100%;
		height: auto;
		padding-left: $page-gutter-with-element;
		padding-right: $page-gutter-with-element;
		text-align: center;

		@media (max-width: $mobile-break-point) {
			padding-left: $page-gutter-with-element-mobile;
			padding-right: $page-gutter-with-element-mobile;
		}

		@media (max-width: $small-mobile-break-point) {
			padding-left: $page-gutter-with-element-small-mobile;
			padding-right: $page-gutter-with-element-small-mobile;
		}

		&:first-child {
			.portfolio-list-item-name {
				margin-top: 30px;
			}
		}

		// .portfolio-list-item-name
		&-name {
			display: inline-block;
			font-size: 4rem;
			font-weight: 900;
			letter-spacing: 6px;
			line-height: 1;
			margin-bottom: 50px;
			text-transform: uppercase;
			cursor: pointer;
			transition: all 0.1s;

			@media (max-width: $mobile-break-point) {
				font-size: 3.5rem;
			}

			@media (max-width: $small-mobile-break-point) {
				font-size: 3rem;
			}

			@media (max-width: $tiny-mobile-break-point) {
				font-size: 2.5rem;
				margin-bottom: 36px;
			}

			a:hover {
				color: $color-blue;
				letter-spacing: 10px;
				text-shadow: 0 0 10px $color-shadow;

				@media (max-width: $mobile-break-point) {
					letter-spacing: 6px;
				}
			}
		}
	}

	// .portfolio-list-arrow-up
	// .portfolio-list-arrow-down
	&-arrow-up,
	&-arrow-down {
		position: absolute;
		left: 50%;
		width: 60px;
		height: 48px;
		padding: 15px;
		margin-left: -24px;
		z-index: 3;
		cursor: pointer;

		&.disabled {
			cursor: not-allowed;
			opacity: 0.2;
		}

		// ShowUp
		@extend %transition-setup;

		transition-delay: 1s;

		.is-page-ready & {
			@extend %transition-active;
		}
	}

	// .portfolio-list-arrow-up
	&-arrow-up {
		top: 35px;
	}

	// .portfolio-list-arrow-down
	&-arrow-down {
		bottom: 35px;
	}
}